.container.mt-4
  h1 在庫情報

  / 追加ボタン
  = link_to '新規追加', new_stock_path, class: 'btn btn-primary float-right mb-3'

  / 一覧表示
  table.table.table-bordered.table-hover.table-sm.mb-5
    == render 'thead'
    == render 'tbody'

  / ページネーション
  .float-right
    = paginate @products

javascript:
  $(document).on('click', '.js-status-btn', function () {
    var status = $(this).data('status')
        invoice_id = $(this).closest('tr').find('#invoices__id').val()

    $.ajax({
      type: 'PATCH',
      url: 'invoices/'+invoice_id,
      data: {
        invoice: {
          status: status
        }
      },
      success: function (data) {
        if(data.error_message){
          alert(data.error_message);
        }else{
          $('#invoice_status_'+invoice_id).text(data.status)
          $('#invoice_status_'+invoice_id).addClass('table-warning')
          if(data.status == "入金確認済み"){
            $('.js-status-btn').addClass('disabled')
          }
        }
      },
      error: function () {
          alert('ステータス更新失敗');
      }
    });
  })