// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img_index {
    width: 100px
}
.img_show {
    width: 100%
}
ul {
    list-style: none;
}