<h1>商品一覧</h1>
<table>
  <tr>
    <th>商品コード</th>
    <th>商品名</th>
    <th>商品画像</th>
    <th>メモ</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.code %></td>
      <td><%= product.name %></td>
      <td><img src="<%= product.image_url %>"></td>
      <td><%= product.note %></td>
    </tr>
  <% end %>
</table>
